@source "./src/**/*.{rs,html,css}";
@import "tailwindcss";

@plugin "daisyui" {
  themes: rosepine --default;
}

@plugin "daisyui/theme" {
  name: "rosepine";
  default: true;
  prefersdark: true; 
  color-scheme: "dark";

  --color-primary: #c4a7e7;     /* Iris */
  --color-secondary: #ebbcba;   /* Rose */
  --color-accent: #f6c177;      /* Gold */
  --color-neutral: #191724;     /* Base */
  --color-base-100: #1f1d2e;    /* Surface */
  --color-base-200: #191724;    /* Base used as alternate background */
  --color-base-300: #26233a;    /* Overlay for deeper contrast */

  --color-info: #31748f;        /* Foam */
  --color-success: #9ccfd8;     /* Pine */
  --color-warning: #f6c177;     /* Gold */
  --color-error: #eb6f92;       /* Love */

  --color-base-content: #e0def4;    /* Text */
  --color-primary-content: #191724;  /* Dark text on light purple */
  --color-secondary-content: #191724;/* Dark text on light rose */
  --color-accent-content: #191724;   /* Dark text on light gold */
  --color-neutral-content: #e0def4;  /* Light text on dark neutral */
  
  --color-info-content: #e0def4;
  --color-success-content: #191724;
  --color-warning-content: #191724;
  --color-error-content: #e0def4;

  --radius-selector: 0.2rem;
  --radius-field: 0.0rem;
  --radius-box: 0.2rem;
  --border: 2px;
  --depth: 1;
}
